.navbar{
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  z-index: 1000;
  .navbar-left{
    display: flex;
    .navbar-left-logo{
      width: 64px;
      height: 64px;
    }
    .navbar-title{
      font-size: 28px;
      font-weight: 600;
      color: #fff;
      line-height: 64px;
      /* margin-left: 20px; */
    }
  }
  .navbar-right{
font-size: 16px;
color: #fff;
margin-right: 20px;
  }
}
